*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
body{
    background-color: rgb(41, 41, 41);
    color: white;
}
button {
    cursor: pointer;
    border-radius: 4px;
    background-color: #fc8200;
    border: 1px solid white;
    color: white;
}
button:hover {
    background-color: rgb(255, 47, 47);
}

/* HEADER */
#headerImg {
    padding: 2px;
    margin: 8px;
    border-radius: 400px;
    max-width: 100px;
}
#header {
    display: flex;
    justify-content:space-around;
    align-items: center;
} 
#headerName {
    justify-self: center;
    font-size: 40px;
}

/* -------------------------------- */

/* NAVBAR */
#menu div {
    list-style: none;
    text-align: center;
    background-color: #fc8200;
    border: 1px solid white;
    margin: 2px;
    border-radius: 4px;
}
#menu div:hover {
    background-color: rgb(255, 47, 47);
    cursor: pointer;
}

/* ---------------------------------------- */

/* CONTENT */

#content {
    margin: 20px 0px;
}

#content img {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 3px solid white;
}

#content button {
    margin-left: 5px;
}

/* ------------------------------- */

/* FOOTER */
footer {
    background-color: #fc8200;
    text-align: center;
    padding: 2px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
/* -------------------------------- */

/* STÖRRE SKÄRM */
@media screen and (min-width: 722px) {
    html {
        max-width: 1000px;
        margin:0 auto;
    }
    button {
        padding: 5px;
    }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #menu {
        display: flex;
        justify-content: space-around;
    }
    #menu div {
        padding: 20px;
    }
}
/* ------------------------------------- */