/* HEADER */
#headerImg {
    border: 1px solid #808080;
    padding: 2px;
    margin: 8px;
    border-radius: 400px;
    max-width: 100px;
}
#header {
    display: flex;
    justify-content:space-around;
    align-items: center;
} 
#headerName {
    justify-self: center;
    font-size: 40px;
}

/* ------------------- */

/* NAVBAR */
#menu div {
    list-style: none;
    text-align: center;
    background-color: #d6d6d6;
    border: 1px solid #808080;
    margin: 2px;
}
#menu div:hover {
    background-color: white;
}

/* --------------------- */

/* CONTENT */

#content {
    margin-top: 10px;
    margin-bottom: 10px;
}

#content img {
    width: 300px;
    height: 300px;
    margin: 10px;
}

#content button {
    margin-left: 5px;
}

/* ----------- */

/* FOOTER */
footer {
    background-color: #d6d6d6;
    text-align: center;
    padding: 2px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
/* ----------- */
